.navbar {
    margin-bottom: 60px;
  }

.intro-heading {
    margin: 80px 0 40px;
  }
  
.get-started-btn {
    margin: 40px 0 40px;
}

.check-box {
  margin-right: 10px;
}

/* .checklist-item {
  margin-left: 10px;
} */